{
    "root": true,
    "extends": "airbnb",
    "parser": "babel-eslint",
    "env": {
        "amd": true,
        "browser": true,
        "es6": true,
        "jest": true,
        "jquery": true,
        "node": true
    },
    "rules": {
        "react/jsx-curly-spacing": ["error", "always"],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "indent": ["error", 4],
        "jsx-a11y/no-static-element-interactions": 'off',
        "consistent-return": 'off',
        "import/no-extraneous-dependencies": 'off',
        "react/prop-types": 'off',
        "no-param-reassign": 0,
        "import/prefer-default-export": 'off',
        "global-require": 'off'
    },
    "ecmaFeatures": {
        "modules": true,
        "jsx": true
    },
    "globals": {
        "window": true,
        "helpers": true,
        "lodash": true
    },
    "settings" : {
        "import/resolver": {
            "webpack": {
                "config": "webpack.config.js"
            }
        }
    },
}