// add colors like this, always prefix color variables with "$color-".
// $color-name: #hexcode/rgba();

// colors defined with hex, rgb, or rgba
$color-blue: #2203ff;
$color-red: #fc0048;
$color-black: #000000;
$color-yellow: #ffff00;
$color-aquamarine: #7fffd4;
